.not-found {
  padding: 24px;
  color: purple;
  font-style: italic;
}

.not-found__title {
  margin-bottom: 16px;
}

.not-found__text{
  color: #003B6F;
  font-style: italic;
  font-size: 20px;

}

.not-found__link{
  font-weight: bold;
  color: mediumpurple;
  font-size: 24px;
}
